#flash{
	opacity: 0;
	-webkit-transition-property: width; /* Safari */
  	-webkit-transition-duration: 0s; /* Safari */
    	-webkit-transition-delay: 5s; /* Safari */
    	transition-property: width;
    	transition-duration: 0s;
    	transition-delay: 5s;
}