.resizing{ /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
	float:left;
}

.center{
	margin-left:3%;
}

.leftOver{
	margin-left:50%;
}

.moveSignUpOver{
	margin-left:60%;
}

.lightBulb{
	float:right;
	position:absolute;
}