/*logintest1 css sheet*/
.resizing{ /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

html{
	color: black;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

fieldset{
	margin-right: 30%;
	margin-left: 30%;
	border: 0;
	text-align:center;
}

legend{
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
	color: #909090;
}

h1{
	text-align: center;
	text-decoration: underline;
}

input:required{
	border: 1px solid red;
}

.inputs{
	font-size: 1.5em;
	color: #909090;
	text-align:center;
}

p{
	text-align: center;
	background-color: #29AFB4;
	color: #FFFFFF;
	font-size: 1.8em
}