/*logintest1 css sheet*/
.resizing{ /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

html{
	color: black;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

fieldset{
	margin-right: 30%;
	margin-left: 30%;
	border: 0;
	text-align:center;
}

legend{
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
	color: #909090;
}

h1{
	text-align: center;
	text-decoration: underline;
}

input:required{
	border: 1px solid #909090;
	font-size: 1.2em;
	border-radius:10px;
	width: 300px;
}

.inputs{
	font-size: 1.8em;
	color: #909090;
	text-align:center;
}

.centre{
	position: relative;
  	top: 20%;
  	transform: translateY(-20%);
  	left: 50%;
  	transform: translateX(-50%);
}

input[type="submit"]
{
	    text-decoration:none;
	    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	    font-size: 1.3em;
	    color:white;
	    background-color:#29AFB4;
	    line-height:40px;
	    width: 200px;
	    border-radius:20px;
	    -webkit-border-radius:20px;
	    -moz-border-radius:20px;
	    border:0;
}

p{
	text-align: center;
	background-color: #29AFB4;
	color: #FFFFFF;
	font-size: 1.8em
}