/*logintest1 css sheet*/

html{
	background-color: #00bfff;
	color: black;
	font-family: Courier,Helvetica,Arial;
}

fieldset{
	background-color: #0099cc;
	border-color: black;
	margin-right: 30%;
	margin-left: 30%;
}

legend{
	font-size: 1.3em;
	font-weight: bold;
}

h1{
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	text-decoration: underline;
	background-color: #0099cc;
}

input:required{
	border: 1px solid red;
}

p{
	text-align: center;
	font-weight: bold;
}